<a {{template_and(template_arg(1, Type), template_and(template_arg(6, main), template_arg(2, Type)=> 'class="active index"'))
}} {{template_and(template_arg(1, Type), template_and(template_not_arg(6, main), template_arg(2, Type)=> 'class="index"'))
}} id="{{template_arg(3, ID) => ID}}_index" href="{{template_and(template_arg(1, Type),
template_and(template_arg(4, File), template_not_arg(2, Type) => File))
}}#{{template_arg(3, ID) => ID}}"> {{template_arg(5, Title) => Title
}} </a>