<a {{1 @ Type & 6 @ main & 2 @ Type => 'class="active index"'
}} {{1 @ Type & 6 @\+ main & 2 @ Type => 'class="index"'
}} id="{{3 @ ID => ID}}_index" href="{{1 @ home & 2 @\+ home => 'docs/'
}}{{1 @\+ home & 2 @ home => '../'
}}{{1 @ Type & 4 @ File & 2 @\+ Type => File
}}#{{3 @ ID => ID}}"> {{5 @ Title => Title
}} </a>