<div class="body" id="download">
    The ProscriptLS project is
    <a href="https://github.com/lindseyspratt/proscriptls">
     https://github.com/lindseyspratt/proscriptls
    </a>.
    <br>
    The ProscriptLS library is
    <br>
    <a href="https://github.com/lindseyspratt/proscriptls/blob/master/dist/proscriptls.js">
        https://github.com/lindseyspratt/proscriptls/blob/master/dist/proscriptls.js
    </a>.
</div>
