<html lang="en">
<head>
    <title>
        {{template_arg(2, Title) => Title}}
    </title>
    <link rel="stylesheet" href="{{1 @ home=>'docs/'}}index.css"/>
    <script type="text/javascript" src="{{1 @\+ home=>'../'}}dist/proscriptls.js"></script>
    <!-- proscriptls interpreter
    <script src="{{1 @\+ home=>'../'}}terminal/jquery-3.3.1.js"></script>
    <script src="{{1 @\+ home=>'../'}}terminal/jquery_terminal.js"></script>
    <link href="{{1 @\+ home=>'../'}}terminal/jquery_terminal.css" rel="stylesheet"/>
    -->
</head>

<body onload="proscriptls_init ();">
<!-- Side navigation -->
{{template_and(template_arg(1, Page), template_file('sidenav.index.template', [Page]))}}
<!-- Page content -->
<div class="content">
    <header>
        <h1>{{template_arg(2, Title) => Title}}</h1>
        <hr>
    </header>

    {{template_and(template_arg(3, Content), template_file(Content, [Title]))}}

    <footer>
        <hr>
        <table style="width:100%">
        <tr>
        <td>Version 1, June 2019.</td>
        <td style="text-align:right">Powered by ProscriptLS Prolog - Logic at Your Service.</td>
        </tr>
        </table>
    </footer>
</div>
<!-- proscriptls interpreter
<script src="{{1 @\+ home=>'../'}}terminal/proscript_interpreter_terminal.js" type="text/javascript"></script>
<div id="proscriptinterpreter">
</div>
-->
<script type="text/prolog" src="{{1 @ home=>'docs/'}}index.pl"></script>
</body>
</html>
