<li>BarProp (<a href="https://html.spec.whatwg.org/multipage/window-object.html#barprop">Standard</a>): barprop</li>
<li>Blob (<a href="https://www.w3.org/TR/FileAPI/#dfn-Blob">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Blob'>MDN</a>): blob</li>
<li>CanvasGradient (<a href="https://www.w3.org/TR/2dcontext/#canvasrenderingcontext2d">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/CanvasGradient'>MDN</a>): canvasgradient</li>
<li>CanvasPattern (<a href="https://www.w3.org/TR/2dcontext/#canvasrenderingcontext2d">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/CanvasPattern'>MDN</a>): canvaspattern</li>
<li>CanvasRenderingContext2D (<a href="https://www.w3.org/TR/2dcontext/#canvasrenderingcontext2d">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D'>MDN</a>): canvasrenderingcontext2d</li>
<li>CSSRule (<a href="https://www.w3.org/TR/cssom-1/#cssrule">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/CSSRule'>MDN</a>): cssrule</li>
<li>CSSStyleDeclaration (<a href="https://www.w3.org/TR/cssom-1/#cssstyledeclaration">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleDeclaration'>MDN</a>): cssstyledeclaration</li>
<li>CustomElementRegistry (<a href="https://html.spec.whatwg.org/multipage/custom-elements.html#customelementregistry">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry'>MDN</a>): customelementregistry</li>
<li>Document (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#document">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Document'>MDN</a>): document</li>
<li>DocumentFragment (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#documentfragment">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/DocumentFragment'>MDN</a>): documentfragment</li>
<li>Element (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#element">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Element'>MDN</a>): element</li>
<li>ElementCreationOptions (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#dictdef-elementcreationoptions">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Document/createElement'>MDN</a>): elementcreationoptions</li>
<li>Event (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#interface-event">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Event'>MDN</a>): event</li>
<li>EventTarget (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#interface-eventtarget">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/EventTarget'>MDN</a>): eventtarget</li>
<li>File (<a href="https://www.w3.org/TR/2019/WD-FileAPI-20190531/#dfn-file">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/File'>MDN</a>): file</li>
<li>History (<a href="https://html.spec.whatwg.org/multipage/history.html#history">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Window/history'>MDN</a>): history</li>
<li>HTMLCanvasElement (<a href="https://www.w3.org/TR/html5/semantics-scripting.html#the-canvas-element">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement'>MDN</a>): htmlcanvaselement</li>
<li>HTMLElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/dom.html#htmlelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement'>MDN</a>): htmlelement</li>
<li>HTMLFormElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#htmlformelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement'>MDN</a>): htmlformelement</li>
<li>HTMLImageElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/semantics-embedded-content.html#htmlimageelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement'>MDN</a>): htmlimageelement</li>
<li>HTMLInputElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#htmlinputelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement'>MDN</a>): htmlinputelement</li>
<li>HTMLOptionElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#htmloptionelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLOptionElement'>MDN</a>): htmloptionelement</li>
<li>HTMLSelectElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#htmlselectelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement'>MDN</a>): htmlselectelement</li>
<li>HTMLTextAreaElement (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#htmltextareaelement">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/HTMLTextAreaElement'>MDN</a>): htmltextareaelement</li>
<li>ImageData (<a href="https://www.w3.org/TR/2dcontext/#imagedata">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/ImageData'>MDN</a>): imagedata</li>
<li>Location (<a href="https://html.spec.whatwg.org/multipage/history.html#location">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Window/location'>MDN</a>): location</li>
<li>MouseEvent (<a href="https://www.w3.org/TR/2019/WD-uievents-20190530/#idl-mouseevent">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent'>MDN</a>): mouseevent</li>
<li>Navigator (<a href="https://html.spec.whatwg.org/multipage/system-state.html#navigator">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Navigator'>MDN</a>): navigator</li>
<li>NavigatorContentUtils (<a href="https://html.spec.whatwg.org/multipage/system-state.html#NavigatorContentUtils">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/NavigatorContentUtils'>MDN</a>): navigatorcontentutils</li>
<li>NavigatorCookies (<a href="https://html.spec.whatwg.org/multipage/system-state.html#navigatorcookies">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/NavigatorCookies'>MDN</a>): navigatorcookies</li>
<li>NavigatorID (<a href="https://html.spec.whatwg.org/multipage/system-state.html#navigatorid">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/NavigatorID'>MDN</a>): navigatorid</li>
<li>NavigatorLanguage (<a href="https://html.spec.whatwg.org/multipage/system-state.html#navigatorlanguage">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage'>MDN</a>): navigatorlanguage</li>
<li>NavigatorOnLine (<a href="https://html.spec.whatwg.org/multipage/system-state.html#navigatoronline">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine'>MDN</a>): navigatoronline</li>
<li>Node (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#node">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Node'>MDN</a>): node</li>
<li>ParentNode (<a href="https://www.w3.org/TR/2018/WD-dom41-20180201/#parentnode">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/ParentNode'>MDN</a>): parentnode</li>
<li>Path2D (<a href="https://html.spec.whatwg.org/multipage/canvas.html#dom-path2d">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Path2D'>MDN</a>): path2d</li>
<li>TextMetrics (<a href="https://www.w3.org/TR/2dcontext/#textmetrics">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/TextMetrics'>MDN</a>): textmetrics</li>
<li>UIEvent (<a href="https://www.w3.org/TR/2019/WD-uievents-20190530/#idl-uievent">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/UIEvent'>MDN</a>): uievent</li>
<li>Uint8ClampedArray (<a href="https://www.ecma-international.org/ecma-262/6.0/#table-49">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Uint8ClampedArray'>MDN</a>): uint8clampedarray</li>
<li>ValidityState (<a href="https://www.w3.org/TR/2017/REC-html52-20171214/sec-forms.html#validitystate">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/ValidityState'>MDN</a>): validitystate</li>
<li>Window (<a href="https://html.spec.whatwg.org/multipage/window-object.html">Standard</a>, <a href='https://developer.mozilla.org/en-US/docs/Web/API/Window'>MDN</a>): window</li>
