<html lang="en">
<head>
    <title>
        Downloading ProscriptLS
    </title>
    <link rel="stylesheet" href="index.css"/>
    <script type="text/javascript" src="../proscriptls.js"></script>
</head>
<body onload="proscript_init();">
<!-- Side navigation -->
{{template_file('sidenav.index.template', [down])}}
<!-- Page content -->
<div class="content">
{{template_file('content.index_download.template', [])}}
</div>
<script type="text/prolog" src="index.pl"></script>
</body>
</html>